<style> 

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0px;
			padding: 0px;
}

body {
	font-family: Verdana;
	margin:0px;
}

h1 {
	text-align: center;
	font-size: 1.6em;
}

.navbar-default .navbar-nav>.active>a{
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-brand {
    color: white; 
	font-size: 1.2em;
}


ul > li {
	background-color: white;
	border-bottom: solid;
}
/* .sechead {
	border: solid 1px;
	font-size: 1.25em;
	text-align: center;
	position: relative;
	width: 30%;
	left: 70%;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
} */
.sechead {
	font-size: 1.25em;
	text-align: center;
	padding-bottom: 5px;
	color: black;	
}
.content1, .content2, .content3 {	
	box-sizing: border-box;
	background: gray;
	border: solid 1px black;
	margin: 1%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
	font-size: 16px;	
	padding: 10px;
}

#header-nav {
	background-color: gray;
}

.color1 {
	background-color: pink;
}

.color2 {
	background-color: red;
}

.color3 {
	background-color: yellow;
}

</style>